*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  color: #fff;
  
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 255, 0.644);
}

.container{
  height: 400px;
  background: linear-gradient(250.86deg, #6aa6f5 10.26%, #161868 70.83%);
  border-radius: 20px;
  text-align: center;
  margin: 80px 50px;
  padding-top: 20px;
}

input{
  text-align: center;
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  border: none;
}

img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
 
}

select{
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  border: none;
  background-color: rgba(157, 253, 62, 0.712);
  color: #fff;
}

h2{
  margin-top: 20px;
}

@media screen and (max-width:500px) {
  .container{
    height: 500px;
  }
  
  /* img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  } */
}