body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.button-jogar{
    width: 200px;
    margin: 1rem auto;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    
}

.btnReset{
    width: 200px;
    margin: 1rem auto;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}


h2 {
    color: white;
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 20px 10px;
}

.resultado-final {
    width: 500px;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weigth: bolder;
    padding: 1rem;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(125, 5, 172);
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carta-status p {
    margin-bottom: 2rem;
}