
.container{
    background: #ecf4ff;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    color: #1c1c1c;
    padding: 64px;
    
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil-foto{
    border-radius: 460px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 25);
}

.titulo{
    margin-left: 16px;
}

.titulo h1{
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.contatos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon-contato {
   width: 35px;
   height: 35px;
   
}
.icon-contato:hover{
    /* transform: scale(1.1); */
    transform: rotate(360deg);
    transition: 1s;
}

 
.tema button{
    align-self: flex-end;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    /*background: #ecf4ff;*/
    background:#ecf4ff ;
    color: #333439;
    border-radius: 180px;
    border: 1px solid #333439;
}

.tema button:hover{
    transition: 1s;
    color: #ecf4ff;
    background: #333439;
    border: 1px solid #333439;
}


.flip-container{
    width: 230px;
    height: 250px;
    perspective: 1000px;
    list-style: none;
    
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
	
}

.flipper{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
    position: relative;
}

.front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.front{
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    
}

.back{
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    color: #ecf4ff;
	transform: rotateY(180deg);
}

.imagens{
    width: 120px;
    height: 120px;
}

