body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    /* background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-03-mentalista.png"); */
    background: linear-gradient(236.86deg, #113204 20.00%, #161868 91.00%);
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    border: solid 2px #262626;
    text-align: center;
  }
  
  button {
    width: 80px;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
    color: #fff;

  }

  .btnChutar {
    border: solid 2px green;
    background-color: rgb(123, 214, 123);
  }

  .btnReset{
    border:solid 2px blue;
    background-color: cornflowerblue;
  }

  button:disabled {
    opacity: 0.9;  
    background-color: rgba(65, 105, 225, 0.438);

  }


  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
  }
  