* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: rgb(9, 0, 59) ;
  }
  
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: rgb(9, 0, 59);
    background-color: #F29500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.button_add{
  width: 200px;
  height: 30px;
  margin-top: 30px;
  background:#F29500;
  border-radius: 50px;
  border: none;
  cursor: grab;
  
  font-family: Tahoma;
  color: rgb(9, 0, 59);
  font-size: 1.0em;
}
 
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th,
  tr,
  td {
    border: solid 1px #F29500;
    color: #F29500;
  }

  tbody{
    color: #FFF;
  }
  